name: CI

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: general-dexterity/actions/pnpm-install@main

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm typecheck
